.productPage {
  margin-top: 80px;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-botton: 15px;
}
.carrossel {
}

.productDetailModal {
  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
